[Unit]
Description=lazycast server
After=network.target

[Service]
User=root
Type=simple
ExecStart=/opt/lazycast/all.sh
WorkingDirectory=/opt/lazycast/
Restart=always
RestartSec=1s
StartSec=1sec
#StandardOutput=syslog
#StandardError=syslog
KillSignal=SIGINT

[Install]
WantedBy=network.target
WantedBy=lightdm.service
